@import base.sass

::-webkit-scrollbar 
  width: 3px

/* Track */
::-webkit-scrollbar-track 
  background: $clr4

/* Handle */
::-webkit-scrollbar-thumb 
  background: $clr3

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
  background: $clr1

*
  font-family: $font
  box-sizing: border-box

#btn
  background-color: $clr3
  color: $clr1
  font-weight: 800
  font-size: 14px

.main
  width: 90vw
  height: 100%
  @extend %d-flex-c 
  justify-content: flex-start

  .navcontainer
    width: 100%
    height: 10vh
    @extend %d-flex-r
    justify-content: space-between

    .title
      @extend %d-flex-c
      background: $clr2
      width: 250px
      height: inherit
      border-bottom-left-radius: 25px
      border-bottom-right-radius: 25px
      h1
        color: $clr1
        font-weight: 800
        text-shadow: 0 0 3px #ffffff00

    .menu
      @extend %d-flex-r
      width: calc(100% - 250px)
      align-self: flex-end
      padding: 0 100px 0 315px
      justify-content: space-around

      span
        padding: 4px 8px 
        font-size: 18px
        font-weight: 600
        text-transform: uppercase
        border: 2px solid transparent
        border-radius: 8px

      span:hover
        background: #ffffffa4      
        border: 2px solid $clr3
        color: $clr2

  .container
    @extend %d-flex-c
    width: 100%
    height: auto
    padding: 50px 0px

    .rowgrid
      @extend %d-flex-r
      justify-content: space-between
      width: 100%
      height: 395px

      .filterContainer
        @extend %d-flex-r
        justify-content: flex-end
        width: 60%
        background: red
        
      .searchContainer
        @extend %d-flex-r
        justify-content: flex-start
        width: 60%
        // margin-left: 400px
        background: red
        
      .collage
        display: block
        align-self: flex-start
        margin-left: 10vw
        margin-right: 20vw
        

